body {
  font-family: sans-serif;
  font-size: 13px;
}

input {
  font-family: sans-serif;
  font-size: 13px;
  color: #69c;
  border: 1px solid #69c;
  padding: 8px;
  margin: 2px;
}

input[type="date"] {
  padding: 6px;
}
