@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  font-family: "segoe ui", sans-serif;
  font-size: 14px;
}

h1 {
  border-bottom: 1px solid #ccc;
  font-size: 22px;
  padding-bottom: 8px;
}

h1 #companyName {
  font-weight: normal;

  margin-right: 0px;
}

h1 #systemName {
  margin-left: 0px;
  font-weight: bold;
}

a:link,
a:visited {
  /*color: rgb(30, 106, 194);*/
  color: #000;
}

input {
  font-family: "segoe ui", sans-serif;
  border: 1px solid #69c;
  padding: 8px;
  margin: 2px;
}

input[type="date"] {
  padding: 6px;
}

.navbar {
  overflow: hidden;
  border-bottom: 0px solid #39f;
  margin-bottom: 20px;
  text-align: center;
}

.navbar a {
  float: left;
  text-align: left;
  padding: 8px 12px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 8px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  /* color: rgb(30, 106, 194);*/
  color: #000;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #fff;
  border-bottom: 2px solid #9cf;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#inputForm {
  border: 1px solid #ccc;
  padding: 12px 16px;
}

form button {
  padding: 6px 12px;
  margin: 2px;
  font-weight: bold;
}

fieldset {
  border: 1px solid #ccc;
}

legend {
  padding: 5px 8px;
  color: rgb(30, 106, 194);
  font-size: 0.9em;
  font-weight: normal;
}

#frmAirportFrom,
#frmAirportTo {
  width: 4rem;
}

#frmAirlineCode {
  width: 2rem;
}
